
html, body {
  width: 500px;
  height: 50%;
  font-family: Oxygen, sans-serif;
  text-align: center;
  margin:0px;
}

.close-icon{
  cursor:pointer
}

.container { 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#color-picker {
  border: 3px solid rgba(15, 15, 15, 0.2);
}

.menu2__text{
  font-family: "Codec cold",sans-serif;
    color:#f34079
}
.info {
  width: 12em;
  display: flex;
  margin-left: 4em;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid rgba(15, 15, 15, 0.2);
}
